<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>edit your chat<%=chat.id%></h3>
    <p>this chat was send by<%=chat.from%>to<%=chat.to%></p>
<form method="post" action="/chats/<%=chat.id%>?_method=put">
    <textarea name="message"><%=chat.message%></textarea>
    <button>edit</button>
</form>
</body>
</html>